<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.isscript">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ISSCRIPT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Isscript"
        tools:targetApi="31">
        <activity
            android:name=".NotifAzizah"
            android:exported="false" />
        <activity
            android:name=".notif2_gita"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".notif_salma"
            android:exported="false" />
        <activity
            android:name=".b8_ganti_password"
            android:exported="false" />
        <activity
            android:name=".b7_ganti_foto"
            android:exported="false" />
        <activity
            android:name=".b6_profil"
            android:exported="false" />
        <activity
            android:name=".b5_detail_sidang"
            android:exported="false" />
        <activity
            android:name=".b4_daftar_sidang"
            android:exported="false" />
        <activity
            android:name=".b3_sidang"
            android:exported="false" />
        <activity
            android:name=".b2_detail_semhas"
            android:exported="false" />
        <activity
            android:name=".b1_daftar_semhas"
            android:exported="false" />
        <activity
            android:name=".a9_semhas"
            android:exported="false" />
        <activity
            android:name=".a8_tambah_judul"
            android:exported="false" />
        <activity
            android:name=".a7_tambah_edit_logbook"
            android:exported="false" />
        <activity
            android:name=".a6_detail_logbook"
            android:exported="false" />
        <activity
            android:name=".a5_list_logbook"
            android:exported="false" />
        <activity
            android:name=".a4_pilih_pembimbing"
            android:exported="false" />
        <activity
            android:name=".a3_daftar_ta"
            android:exported="false" />
        <activity
            android:name=".a2_homescreen"
            android:exported="false" />
        <activity
            android:name=".a1_login"
            android:exported="false" />
        <activity
            android:name=".detail_logbook"
            android:exported="false" />
        <activity
            android:name=".start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>