<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.isscript">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ISSCRIPT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Isscript"
        tools:targetApi="31">
        <activity
            android:name=".selesai_edit"
            android:exported="false" />
        <activity
            android:name=".hs_ajukan_judul2"
            android:exported="false" />
        <activity
            android:name=".tambahlogbook2"
            android:exported="false" />
        <activity
            android:name=".hs_selesai_logbook"
            android:exported="false" />
        <activity
            android:name=".tambahlogbook1"
            android:exported="false" />
        <activity
            android:name=".sidang2"
            android:exported="false" />
        <activity
            android:name=".sidang_menunggu_acc"
            android:exported="false" />
        <activity
            android:name=".hs_logbook_proses3"
            android:exported="false" />
        <activity
            android:name=".hs_logbook_proses2"
            android:exported="false" />
        <activity
            android:name=".hs_logbook_proses"
            android:exported="false" />
        <activity
            android:name=".hs_ajukan_judul"
            android:exported="false" />
        <activity
            android:name=".hs_pilih_pembimbing"
            android:exported="false" />
        <activity
            android:name=".hs_berhasil_daftar_ta"
            android:exported="false" />
        <activity
            android:name=".detail_pengajuan_sidang"
            android:exported="false" />
        <activity
            android:name=".detail_pengajuan_semhas"
            android:exported="false" />
        <activity
            android:name=".detail_pendaftaran_ta"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".ajukan_judul"
            android:exported="false" />
        <activity
            android:name=".daftar_peserta"
            android:exported="false" />
        <activity
            android:name=".detail_logbook"
            android:exported="false" />
        <activity
            android:name=".detail_logbook_setelah_acc"
            android:exported="false" />
        <activity
            android:name=".detail_semhas"
            android:exported="false" />
        <activity
            android:name=".detail_sidang"
            android:exported="false" />
        <activity
            android:name=".edit_logbook"
            android:exported="false" />
        <activity
            android:name=".ganti_password"
            android:exported="false" />
        <activity
            android:name=".hs"
            android:exported="false" />
        <activity
            android:name=".pendaftaran_ta"
            android:exported="false" />
        <activity
            android:name=".pengajuan_semhas"
            android:exported="false" />
        <activity
            android:name=".pengajuan_sidang"
            android:exported="false" />
        <activity
            android:name=".pilih_pembimbing"
            android:exported="false" />
        <activity
            android:name=".profil"
            android:exported="false" />
        <activity
            android:name=".semhas1"
            android:exported="false" />
        <activity
            android:name=".semhas_menunggu_acc"
            android:exported="false" />
        <activity
            android:name=".sidang1"
            android:exported="false" />
        <activity
            android:name=".tambah_logbook"
            android:exported="false" />
        <activity
            android:name=".tambah_peserta"
            android:exported="false" />
        <activity
            android:name=".tambah_peserta1"
            android:exported="false" />
        <activity
            android:name=".ubah_profil"
            android:exported="false" />
        <activity
            android:name=".start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>