<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.isscript">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Isscript"
        tools:targetApi="31">
        <activity
            android:name=".ActivityHomescreenPendaftaranTaOnProgres"
            android:exported="false" />
        <activity
            android:name=".ActivityHomescreenPilihPembimbing"
            android:exported="false" />
        <activity
            android:name=".ActivityHomescreen_logbook_on_progress_2"
            android:exported="false" />
        <activity
            android:name=".activityhomescreenonprogress2"
            android:exported="false" />
        <activity
            android:name=".homescreen_logbook_on_process"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".hs"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>